<table id="projects" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>ProjectId</th>
            <th>ProjectManagerId</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>@Messages.ClientCompanyName</th>
            <th>@Messages.ExecutiveCompanyName</th>
            <th>@Messages.ProjectManagerName</th>
            <th>@Messages.Priority</th>
            <th>@Messages.StartDate</th>
            <th>@Messages.EndDate</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>ProjectId</th>
            <th>ProjectManagerId</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>@Messages.ClientCompanyName</th>
            <th>@Messages.ExecutiveCompanyName</th>
            <th>@Messages.ProjectManagerName</th>
            <th>@Messages.Priority</th>
            <th>@Messages.StartDate</th>
            <th>@Messages.EndDate</th>
        </tr>
    </tfoot>
</table>

<input type="hidden" name="trHTML" 
       value="<tr><th>ProjectId</th><th>ProjectManagerId</th><th>StartDate</th><th>EndDate</th><th>@Messages.ClientCompanyName</th><th>@Messages.ExecutiveCompanyName</th><th>@Messages.ProjectManagerName</th><th>@Messages.Priority</th><th>@Messages.StartDate</th><th>@Messages.EndDate</th></tr>" />

