<table id="staff" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>PersonId</th>
            <th>@Messages.FirstName</th>
            <th>@Messages.Patronymic</th>
            <th>@Messages.LastName</th>
            <th>@Messages.Email</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>PersonId</th>
            <th>@Messages.FirstName</th>
            <th>@Messages.Patronymic</th>
            <th>@Messages.LastName</th>
            <th>@Messages.Email</th>
        </tr>
    </tfoot>
</table>

<input type="hidden" id="trHTML" 
       value="<tr><th>PersonId</th><th>@Messages.FirstName</th><th>@Messages.Patronymic</th><th>@Messages.LastName</th><th>@Messages.Email</th></tr>" />

