@model IEnumerable<ReportModel>

@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><button onclick="LoadReports(id = @item.Id)">@item.ReportName</button></li>
    }
</ul>

<div id="bestStudentsDiv" class="hidden" data-action-url="@Url.Action("LoadReport")" data-loading-msg="Загрузка списка студентов">
    <h3>Лучшие студенты</h3>
    @Html.Partial("StudentsList", new List<StudentModel>().AsEnumerable())
</div>

<div id="teachersOfAllStdsDiv" class="hidden" data-action-url="@Url.Action("LoadReport")" data-loading-msg="Загрузка списка преподавателей">
    <h3>Преподаватели, обучающие всех студентов</h3>
    @Html.Partial("TeachersList", new List<TeacherModel>().AsEnumerable())
</div>

<div id="teachersOfLowerCountStdsDiv" class="hidden" data-action-url="@Url.Action("LoadReport")" data-loading-msg="Загрузка списка преподавателей">
    <h3>Преподаватели с наименьшим количеством студентов</h3>
    @Html.Partial("TeachersList", new List<TeacherModel>().AsEnumerable())
</div>

@section scripts
{
    @Scripts.Render("~/bundles/reports")
}
