@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><button class="btn btn-default" onclick="LoadReports(id = @item.Id)">@item.ReportName</button></li>
    }
</ul>

<div id="bestStudentsDiv" class="hidden" data-action-url="@Url.Action("LoadReport")" data-loading-msg="Загрузка списка студентов">
    <h3>Лучшие студенты</h3>
    @{Html.RenderPartial("StudentsList"); }
</div>

<div id="teacherReportsDiv" class="hidden" data-action-url="@Url.Action("LoadReport")" data-loading-msg="Загрузка списка преподавателей">
    <div id="teachersOfAllStdsDiv" >
        <h3 class="hidden">Преподаватели с наименьшим количеством студентов</h3>
    </div>
    <div id="teachersOfLowerCountStdsDiv">
        <h3 class="hidden">Преподаватели с наименьшим количеством студентов</h3>
    </div>
    @{Html.RenderPartial("TeachersList"); }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/reports")
}
