@{
    ViewBag.Title = "Преподаватели";
}

<h2>Преподаватели</h2>

<div id="newTeacherDiv" class="hidden" data-action-url="@Url.Action("PrepareCreateTeacher")" data-loading-msg="Загрузка карточки нового преподавателя">
</div>

<div id="teachersDiv" class="hidden" data-action-url="@Url.Action("ReadTeachers")" data-detail-url="@Url.Action("TeacherDetail")" data-panel="teacherWindow" data-loading-msg="Загрузка списка преподавателей">
    <p>
        @if (Request.IsAuthenticated && CookieHelper.Instance.Role.HasFlag(SimpleStudentsWebsite.Classes.Roles.Dean))
        {
            <input class="btn btn-default" type="button" id="prepareCreateTeacher"
                   value="Добавить преподавателя" onclick="PrepareCreateTeacher()">
        }
    </p>
    @{Html.RenderPartial("TeachersList"); }
</div>

<div id="teacherDetailsDiv" class="hidden" data-detail-url="@Url.Action("TeacherDetails")" data-loading-msg="Загрузка профиля преподавателя">
</div>

@section scripts
{
    @Scripts.Render("~/bundles/teachers")
}